<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="bg-dark" style="font-family: 'Roboto';">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">

            <a href="#" class="navbar-brand">Home</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#GPT1" class="nav-link">GPT1</a>
                    </li>
                    <li class="nav-item">
                        <a href="#GPT2" class="nav-link">GPT2</a>
                    </li>
                    <li class="nav-item">
                        <a href="#About" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Blabbering div -->
    <div class="d-flex flex-column bg-dark text-light p-5 text-start h-100 m-3 fs-2">
        <div class="container m-1">
            Character tokenized GPT1 generator
        </div>
        <div class="container fs-5" style="padding: 5%;">
            <form>
                <label for="customRange3" class="form-label">Choose the number of characters you wish to generate:</label>
                <input type="range" class="form-range" min="0" max="100" step="1" id="customRange3">
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
        </div>
        <div class="container m-1 p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti qui labore maxime nihil nam iusto error
            dignissimos. Dicta reprehenderit totam dolores quos voluptates accusamus praesentium eveniet fuga vel
            quibusdam? Nam.
            Tenetur repellat quod incidunt? Officia suscipit illum nesciunt, culpa sed quia dignissimos expedita
            voluptates tenetur recusandae totam doloremque, magni accusamus ullam hic ratione eligendi! Iure non eveniet
            nam temporibus architecto?
            Quos ullam delectus distinctio non assumenda quaerat fuga officiis minus pariatur quisquam nostrum ex qui,
            quia ad id molestias voluptatum vitae error rerum sunt maxime. Voluptate cupiditate optio minima neque.
            Aut, quod. Soluta voluptatibus similique numquam? Et voluptates, a eius ab in, rem incidunt ullam veniam
            fugiat nulla, vitae autem quisquam! Dolor illo quas ut assumenda quam eius magni soluta!
            Aut, sint, aspernatur beatae voluptas dolores qui vitae itaque ratione facere deleniti harum consequuntur
            quaerat dolore optio quidem sapiente sequi amet modi blanditiis voluptate fugiat nisi perferendis? Eligendi,
            accusantium atque.
            Omnis fugit odit veniam ipsum animi, culpa aperiam blanditiis voluptatibus rem placeat dolor asperiores ea
            alias distinctio. Expedita, odit provident sunt ut saepe beatae placeat fugiat atque ex quisquam voluptatem.
            Eveniet saepe exercitationem eum! At id nostrum deserunt natus? Rem expedita voluptate laboriosam quaerat
            nam accusamus illum perferendis facilis sint illo inventore, dolore exercitationem repellendus, iusto saepe
            commodi vero quas.
            Quisquam ipsam, nihil et quaerat accusantium recusandae blanditiis voluptatibus iusto magnam tempore facere
            optio, labore omnis consequatur ab odio asperiores, repudiandae deserunt. Atque nostrum animi explicabo!
            Inventore at perspiciatis omnis.
            Iure vitae perspiciatis eum accusantium vero incidunt labore. Impedit quaerat nulla deserunt corporis
            maiores itaque, veritatis alias adipisci est cupiditate natus repellat, eveniet reprehenderit. Nihil
            molestiae doloremque inventore aut cumque!
            Quidem tempora ea, non ad totam adipisci maxime hic accusamus minima quis laborum? Incidunt accusamus ipsam
            ex autem sapiente, aperiam nulla? Dicta minima ipsum quae. Harum illum tempore soluta laboriosam.
        </div>
    </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>